/* fonts */
@font-face {
	font-family: 'Bitter'; font-style: normal; font-weight: 400; font-display: swap;
	src: url('../fonts/bitter-v32-latin-400.woff2') format('woff2');
}
@font-face {
	font-family: 'Bitter'; font-style: normal; font-weight: 700; font-display: swap;
	src: url('../fonts/bitter-v32-latin-700.woff2') format('woff2');
}

/* styles */
* { margin: 0; padding: 0; }
.clear { clear: both; }

.error, .fatal { color: #900; }

html { height: 100%; }
body { background: #FFF; color: #141412; display: flex; flex-direction: column; font-family: "Bitter", sans-serif; font-weight: bold; font-size: 20px; height: 100%; letter-spacing: -1px; }

#content { flex: 1 0 auto; }

.navigation { background: #CB4B16; font-size: 40px; padding: 10px; }
.navigation a, .navigation .crumb { color: #FFF; text-decoration: none; text-shadow: 1px 1px 1px #141412; }
.navigation a:hover { color: #141412; text-shadow: 1px 1px 1px #FFF; }
.navigation #prev { display: block; float: left; }
.navigation #next { display: block; float: right; }

#galleries { font-size: 30px; padding: 0 7px 7px 0; }
#galleries a.box { background: #333; color: #FFF; display: inline-block; margin: 7px 0 0 7px; padding: 10px 20px; text-decoration: none; }
#galleries a.box:hover { background: #CB4B16; }

#images.justified-gallery > div > .jg-caption { font-family: inherit; font-weight: normal; font-size: 14px; letter-spacing: 0px; }

#baguetteBox-overlay .full-image figcaption { background: transparent; color: #FFF; font-family: inherit; font-size: 30px; left: 10px; text-align: left; text-shadow: #333 2px 2px 1px; width: auto; }

footer { background: #CB4B16; color: #FFF; flex-shrink: 0; }

footer #byncsa, footer #calibration { font-weight: normal; padding: 0 10px 10px 10px; }
footer #byncsa a { color: #FFF; }
footer #byncsa a:hover { color: #141412; }

footer #calibration .cal-item { float: left; height: 15px; width: 15px; }

@media screen and (max-width: 650px) {
	body { font-size: 16px; letter-spacing: 0px; }
	.navigation { font-size: 24px; }
	#galleries { font-size: 16px; }
	.justified-gallery > div > .jg-caption { font-size: 12px; }
	#baguetteBox-overlay .full-image figcaption { font-size: 20px; }
	footer #calibration .cal-item { height: 10px; width: 10px; }
}
