/* variables */
:root {
	--dark: #210;
	--main: #C60;
	--light: #FFF;
}

/* fonts */
@font-face {
	font-family: 'Bitter'; font-style: normal; font-weight: 400; font-display: swap;
	src: url('../fonts/bitter-v32-latin-400.woff2') format('woff2');
}
@font-face {
	font-family: 'Bitter'; font-style: normal; font-weight: 700; font-display: swap;
	src: url('../fonts/bitter-v32-latin-700.woff2') format('woff2');
}

/* styles */
* { margin: 0; padding: 0; }
.clear { clear: both; }

.info, .error { margin: 10px; }
.error { color: var(--main); }

html { height: 100%; }
body { background: var(--light); color: var(--dark); display: flex; flex-direction: column; font-family: "Bitter", sans-serif; font-weight: bold; font-size: 20px; height: 100%; letter-spacing: -1px; }

#content { flex: 1 0 auto; }

.navigation { background: var(--main); font-size: 40px; padding: 10px; }
.navigation a, .navigation .crumb { color: var(--light); text-decoration: none; text-shadow: 1px 1px 1px var(--dark); }
.navigation a:hover { color: var(--dark); text-shadow: 1px 1px 1px var(--light); }
.navigation #prev { display: block; float: left; }
.navigation #next { display: block; float: right; }

#galleries { font-size: 30px; padding: 0 7px 7px 0; }
#galleries a.box { background: var(--dark); color: var(--light); display: inline-block; margin: 7px 0 0 7px; padding: 10px 20px; text-decoration: none; }
#galleries a.box:hover { background: var(--main); }

#images.justified-gallery > div > .jg-caption { font-family: inherit; font-weight: normal; font-size: 14px; letter-spacing: 0px; }

#baguetteBox-overlay .full-image figcaption { background: transparent; color: var(--light); font-family: inherit; font-size: 30px; left: 10px; text-align: left; text-shadow: var(--lessdark) 2px 2px 1px; width: auto; }

footer { background: var(--main); color: var(--light); flex-shrink: 0; }

footer #byncsa, footer #calibration { font-weight: normal; padding: 0 10px 10px 10px; }
footer #byncsa a { color: var(--light); }
footer #byncsa a:hover { color: var(--dark); }

footer #calibration .cal-item { float: left; height: 15px; width: 15px; }

@media screen and (max-width: 650px) {
	body { font-size: 14px; letter-spacing: 0px; }
	.navigation { font-size: 24px; }
	#galleries { font-size: 20px; }
	.justified-gallery > div > .jg-caption { font-size: 12px; }
	#baguetteBox-overlay .full-image figcaption { font-size: 20px; }
	footer #calibration .cal-item { height: 10px; width: 10px; }
}
