# see https://symfony.com/doc/current/reference/configuration/framework.html
framework:
    secret: '%env(APP_SECRET)%'
    http_method_override: false

    php_errors:
        log: true

    session:
        enabled: true
        cookie_lifetime: 2592000  # 60 * 60 * 24 * 30
