* { margin: 0; padding: 0; }
.clear { clear: both; }
a, p { color: #000; }
.error, .fatal { color: #900; }

/* background image thanks to: http://knitetgantt.deviantart.com/art/Tiled-Wallpaper-Green-Texture-131657984 */
body { background: url("../img/knitetgantt.png") #CCC; color: #FFF; font-family: Ubuntu, sans-serif; font-size: 20px; font-weight: 700; letter-spacing: -1px; padding: 20px; }

.navigation { font-size: 50px; letter-spacing: -3px; padding: 10px; }
.navigation a { text-decoration: none; }
.navigation a.hover { color: #FFF; }
.navigation .crumb { color: #000; }
.navigation #prev { display: block; float: left; }
.navigation #next { display: block; float: right; }

#galleries { font-size: 30px; }

a.box { background: #000; color: #FFF; display: inline-block; margin: 10px; padding: 10px 20px; text-decoration: none; }
a.box.hover { background: #FFF; color: #000; }

.pic { display: inline-block; margin: 5px; vertical-align: middle; }
.pic a { border: 5px solid #FFF; display: block; }
.pic a.hover { border-color: #000; }
.pic a img { display: block; }

#fancybox-outer { background-color: #000; }
#fancybox-title { font-family: inherit; font-size: 30px; text-shadow: #000 2px 2px 1px; }

#bottom { margin-top: 30px; }

#byncsa { float: left; font-weight: 400; margin: 10px; }
#byncsa a.hover { text-decoration: none; }

#calibration { border: 1px solid #808080; float: right; height: 15px; margin: 15px; }
#calibration div { float: left; height: 15px; width: 15px; text-align: center; }
