* { margin: 0; padding: 0; }
.clear { clear: both; }
a, p { color: #21252C; }
a, a:hover { -o-transition: .2s ease; -webkit-transition: .2s ease; -moz-transition: .2s ease; -ms-transition: .2s ease; transition: .2s ease; }

.error, .fatal { color: #900; }

body { background-color: #C4C0BA; color: #F9F3EC; font-family: "Bitter", sans-serif; font-weight: bold; font-size: 20px; letter-spacing: -1px; padding: 0px 20px 20px 20px; }

.navigation { font-size: 50px; letter-spacing: -2px; padding: 10px; }
.navigation a, .navigation .crumb { color: #21252C; text-decoration: none; text-shadow: 2px 2px 2px #F9F3EC; }
.navigation a:hover { color: #F9F3EC; text-shadow: 2px 2px 2px #21252C; }
.navigation #prev { display: block; float: left; }
.navigation #next { display: block; float: right; }

#galleries { font-size: 30px; }

a.box { background: #21252C; color: #F9F3EC; display: inline-block; margin: 10px; padding: 10px 20px; text-decoration: none; }
a.box:hover { background: #F9F3EC; color: #21252C; }

.pic { display: inline-block; margin: 5px; vertical-align: top; }
.pic a { border: 5px solid #F9F3EC; display: block; }
.pic a:hover { border-color: #21252C; }
.pic a img { display: block; }

#fancybox-outer { background-color: #21252C; }
#fancybox-title { font-family: inherit; font-size: 30px; text-shadow: #21252C 2px 2px 1px; }

#bottom { font-weight: normal; margin-top: 30px; }
#bottom a:hover { text-decoration: none; }

#byncsa, #calibration { margin: 5px 10px; }

#calibration { border: 1px solid #808080; float: left; height: 15px; }
#calibration div { float: left; height: 15px; width: 15px; text-align: center; }
