<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="theme-color" content="#C60" />
	<title>{{ title }}</title>
	<link rel="icon" href="/media/img/favicon.svg"/>

	<link rel="stylesheet" href="/media/css/justifiedGallery.css" rel="stylesheet" />
	<link rel="stylesheet" href="/media/css/baguetteBox-1.11.css" rel="stylesheet" />
	<link rel="stylesheet" href="/media/css/style.css" />

	{% for script in scripts %}
	<script type="text/javascript" src="{{ script }}"></script>
	{% endfor %}

</head>
<body>
	{% block body %}
	{% endblock %}
</body>
</html>
